/* workscontent */
.container {
  margin: 10px auto;
}
.container h3 {
  color: blueviolet;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
}
.containerleft {
  margin-top: 5px;
  position: relative;
  right: 30px;
}
.works-link {
   text-decoration: none;
   margin-top: 10px;
}
.works-link:hover {
   text-decoration: underline;
}

/* detailbutton */
.detailbutton {
  display: inline-block;
  padding: 0 5px;
  color: rgb(255, 0, 255);
  border: solid 2px rgb(255, 0, 255);
  cursor: pointer;
}
.detailbutton:hover {
  background-color: rgb(255, 0, 255);
  color: white;
}
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
@keyframes scaleUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modalsp {
  background: linear-gradient(skyblue, white);
  animation: scaleUp 0.3s ease-out;
}
